<li class="thing">

  <div class="detail">
    <span class="name"><%= link_to thing.name, thing %></span>

    <div class="actions">
      <% if defined? parent %>
        <%= form_for thing.links_to_parents.find_by_parent_id(parent.id),
                     :method => "delete", :class => "delete_button" do |f| %>
          <%= submit_tag "Remove from parent" %>
        <% end %>
      <% end %>

      <%= form_for Thing.new, :html => {:class => "create_child"} do |f| %>
        <%= f.hidden_field :parent_id, :value => thing.id %>
        <%= f.text_field :name, :placeholder => "Create child",
                                :class => "link_placeholder" %>
      <% end %>

      <%= form_for Link.new(:child => thing) do |f| %>
        <%= f.hidden_field :child_id %>
        <%= f.hidden_field :parent_id, :class => "parent_id" %>
        <input class="parent_name" placeholder="Copy to..." />
      <% end %>
    </div>
  </div>

  <% if thing.children.present? %>
    <ul>
      <%= render thing.children, :parent => thing %>
    </ul>
  <% end %>

</li>

