<li class="thing">

  <div class="detail">
    <span class="name"><%= link_to thing.name, thing %></span>

    <div class="actions">
      <%= form_tag thing, :method => "delete", :class => "delete_button" do %>
        <%= submit_tag "Delete" %>
      <% end %>

      <%= form_for Thing.new, :html => {:class => "create_child"} do |f| %>
        <%= f.hidden_field :parent_id, :value => thing.id %>
        <%= f.text_field :name, :placeholder => "Create child" %>
      <% end %>
    </div>
  </div>

  <% if thing.children.present? %>
    <ul>
      <%= render thing.children %>
    </ul>
  <% end %>

</li>

